<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>662563911855-tta9u1bovic4smblrqbj54s479ma9n2a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662563911855-tta9u1bovic4smblrqbj54s479ma9n2a</string>
	<key>API_KEY</key>
	<string>AIzaSyCoK915x462-PQB2MFsLIg_P06082xMZs0</string>
	<key>GCM_SENDER_ID</key>
	<string>662563911855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ramenForEveryone</string>
	<key>PROJECT_ID</key>
	<string>ramen-for-everyone</string>
	<key>STORAGE_BUCKET</key>
	<string>ramen-for-everyone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662563911855:ios:9a93aeda9dcd009831bc5a</string>
</dict>
</plist>